.p-item{
  max-width: 50ch;
  margin:1em;
  background-color: white;
  box-shadow: 0 1px 4px rgb(12 12 13 / 10%);
}

.p-image{
  border-bottom: 1px solid #dfe3e8;
}

.caption {
  padding-top: 1rem;
  letter-spacing: .1rem;
  color: #4a4a4a;
  text-align: center;
}