html{
  font-size: 62.5%;
  /* makes using rem easier */
}

/* fonts */

@font-face {
  font-family: GeogrotesqueB;
  src: url(fonts/Geogrotesque-Bold.otf);
}
@font-face {
  font-family: GeogrotesqueM;
  src: url(fonts/Geogrotesque-Medium.otf);
}

body{
  background-color: #f9f9fa;
  font-family: 'GeogrotesqueM';
  font-size: 1.4rem;
  color: #4a4a4a;
}

